@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
:root {
  --color-bg-body: #031919;
  --color-bg-header: #009999;
  --color-bg-search: #0d8d8d;
  --color-border-search: #adbaba;
  --color-text: #fff;
  --color-placeholder: #fff;

  --color-card-bg: #083333;
  --color-card-border: #445b5b;

  --color-in-stock-bg: #127012;
  --color-in-stock-text: #60e860;

  --color-out-stock-bg: #c41010;
  --color-out-stock-text: #fdaaaa;

  --color-loadmore-btn-bg: #0d8d8d;
  --color-btn-text: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background: var(--color-bg-body);
}

h1 {
    margin: 0;
}

.header {
  background: var(--color-bg-header);
  padding: 20px 0;
  color: var(--color-text);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

#search {
  color: var(--color-text);
  margin-top: 1rem;
  width: 400px;
  max-width: 90%;
  border: 1px solid var(--color-border-search);
  border-radius: 6px;
  padding: 1rem;
  background: var(--color-bg-search);
}

::placeholder {
  color: var(--color-placeholder);
}

#search:focus-visible,
#search:focus {
  border: 1px solid var(--color-text);
  outline: none;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  padding: 20px;
}

.product-card {
  color: var(--color-text);
  text-align: center;
  background: var(--color-card-bg);
  border: 1px solid var(--color-card-border);
  border-radius: 8px;
  padding: 16px;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  color: var(--color-text);
  font-size: 12px;
}

.in-stock {
  color: var(--color-in-stock-text);
  background: var(--color-in-stock-bg);
}

.out-stock {
  color: var(--color-out-stock-text);
  background: var(--color-out-stock-bg);
}

.product-price {
  margin-top: 10px;
  font-size: 14px;
  color: #ddd;
}

.load-more-wrapper {
  text-align: center;
  padding: 20px;
}

#loadMore {
  padding: 10px 20px;
  cursor: pointer;
}

button {
  background: var(--color-loadmore-btn-bg);
  color: var(--color-btn-text);
  border-radius: 8px;
  box-shadow: none;
  border: none;
}

@media (max-width: 768px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}